@import '../scss/_mixin';
@import '../scss/_veriables';


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    .burger {
        display: none;
    }
    .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        &__item a {
            font-size: 14px;
            line-height: 1rem;
            letter-spacing: -0.107692px;
            color: #9597A5;
            text-decoration: none;
            &::after {
                content: '';
                width: 0;
                height: 2px;
                background: linear-gradient(to right, #30c88f 8%, #2bb9cc 100%);
                display: block;
                margin: auto;
                transform: translate(0, 30px);
                transition: 0.25s;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
}

.main-section {
    position: relative;
    padding-bottom: 12.5rem;
    background-color: #fafafa;
    
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 820px;
        width: 100%;
    }

    .hidden-img {
        display: none;
    }

       

    .intro-section {
        padding-top: 10.6rem;
        width: 40%;

        &__title {
            @include text(#2D314D, 3.5rem, 100, 4rem)
        }
    
        &__text {
            margin: 24px 0 50px 0;
            @include text(#9597A5, 1.12rem, normal, 1.75rem)
        }
}

}

.section {
    background-color: #f4f5f7;
    padding: 96px 0;

    &__title {
        @include text(#2D314D, 2.5rem, normal, 4rem)
    }

    &__text {
        padding: 16px 0 72px 0;
        @include text (#9597A5, 1.12rem, normal, 1.75rem)
    }
}

// Companent
.section-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &__card {
        .title {
            @include text(#2D314D, 1.6rem, 100, 1.75rem)
        }

        .text {
            @include text(#9597A5, 1rem, normal, 1.6rem)
        }
    }
}

.section-latest {
    background-color: #fafafa;
    padding-bottom: 80px;

    &__title {
        margin: 0;
        padding: 80px 0 40px 0;
        @include text(#2D314D, 2.5rem, normal, 4rem)
    }

    &__cards-wrapper{
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__cards {
        background-color: #fff;
        border-radius: 8px;
        img {
            width: 100%;
        }
    }

    &__subtitle-info {
        padding: 24px;
    }

    &__span {
        display: block;
        @include text (#9597A5, .75rem, normal, 1.12rem)
    }
   
   &__sub-title {
       @include text (#2D314D, 1.25rem, 100, 1.25rem)
    }
}


// footer section

.footer {
    background-color: #2d314d;
    padding: 3.12rem 0;

    &_btn {
        margin: auto;
    }
    
    .nav-list {
        display: flex;
        gap: 1rem;
        padding: 0;
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-between;

        .footer-navbar {
            box-sizing: border-box;

            .navbar-list  {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
        
                &__item a {
                    color: #fff;
                    text-decoration: none;
                    line-height: 1.8rem;
                }
            }
        }
    }

    .footer-logo, .footer-copyright {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

// RESPONSIVE 

@media (min-width:992.5px) and (max-width:1200px) {
    .container {
        max-width: 1140px;
        margin: 0 50px;
    }

    .main-section {
        padding-bottom: 4rem;
     
        .intro-section {
            padding-top: 3.5rem;
        }
        &__img {
            width: 600px;
        }
    }
}

@media (min-width:768.5px) and (max-width:992px) {
    .container {
        max-width: 960px;
    }

    .main-section {
        padding-bottom: 6rem;
        &__img {
            width: 500px;
        }

        .intro-section {
            padding-top: 1rem;
        }
    }

    .section {
        padding-top: 30px;
    }

    .footer {
        padding:  10px;

        &_btn {
            margin: 0;
            text-align: center;
        }
    }
}

@media (min-width:576.5px) and (max-width:768px) {
    .d-none {
        display: none;
    }
    .container {
        max-width: 720px;
    }
    .header {

        .hidden-btn, .nav  {
            display: none;
        }

       .burger {
           display: block;
       }
    }

    .main-section {
        padding-bottom: 1.5rem;
     
        .intro-section {
            width: 100%;
            padding-top: 2.5rem;
            padding-bottom: 1.5rem;

            &__content {
                text-align:center;
            }
        }

        &__img {
          position: static;
        }
        
        .hidden-img {
           display: block;
        }
    }

    .section {
        padding-top: 1rem;
    }


}

@media (min-width:375px) and (max-width:576px) {
    .container {
        max-width: 540px;
    }
    .d-none {
        display: none;
    }
    
    .header {

        .nav {
            display: none;
        }

        .hidden-btn, .nav  {
            display: none;
        }

       .burger {
           display: block;
       }
    }

    .main-section {
        padding-bottom: 1rem;
     
        .intro-section {
            width: 100%;
            padding-top: 2rem;
            padding-bottom: 1rem;

            &__content {
                text-align:center;
            }
        }

        &__img {
          position: static;
        }
        
        .hidden-img {
           display: block;
        }
    }

    .section {
        &__subtitle {
            text-align: center;
        }
    } 

    .section-cards {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .section-latest {

        &__cards-wrapper {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
    }


    .footer {
      
        &__text-center {
            text-align: center;
        }
   
        .footer-wrapper {
            display: flex;
            flex-direction: column;
            text-align: center;

            &__empty-card {
                display: none;
                }
        }

        .nav-list {
            justify-content: center;
        }

        .navbar-list {
            padding: 0;
        }

    }
}

@media screen and (max-width:375px){
    .container {
        max-width: 350px;
    }
    .d-none {
        display: none;
    }
    
    .header {

        .nav {
            display: none;
        }

        .hidden-btn, .nav  {
            display: none;
        }

       .burger {
           display: block;
       }
    }

    .main-section {
        padding-bottom: 1rem;
     
        .intro-section {
            width: 100%;
            padding-top: 2rem;
            padding-bottom: 1rem;

            &__content {
                text-align:center;
            }
        }

        &__img {
          position: static;
        }
        
        .hidden-img {
           display: block;
        }
    }

    .section {
        &__subtitle {
            text-align: center;
        }
    } 

    .section-cards {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .section-latest {

        &__cards-wrapper {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
    }


    .footer {
      
        &__text-center {
            text-align: center;
        }
   
        .footer-wrapper {
            display: flex;
            flex-direction: column;
            text-align: center;

            &__empty-card {
                display: none;
                }
        }

        .navbar-list {
            padding: 0;
        }

        .nav-list {
            justify-content: center;
        }

    }
}